<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>

    {% endif %}
    <meta charset="UTF-8"> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ '/js/activeHeader.js?v=' | append: site.github.build_revision | relative_url }}"></script>
</head>

<body>
    <header class="header" role="banner">
        <!-- <nav> -->
        <div class="responsive-header-text">Summers Well Drilling</div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="topnav" id="myTopnav">
            <li id="hideWhenSmall">
                <img src="{{ '/images/Summers.png' | relative_url }}">
            </li>
            <li>
                <a id="pumpSystems" href="https://jamess999888.github.io/SummersPumps/">
                    <p>
                        Pump Systems
                    </p>
                </a>
            </li>
            <li>
                <a id="drilling" href="http://www.summerswelldrilling.com/">
                    <p>
                        Drilling
                    </p>
                </a>
            </li>
            <li>
                <a id="serviceContracts" href="http://www.summerswelldrilling.com/serviceContracts">
                    <p>
                        Service Contracts
                    </p>
                </a>
            </li>
            <li>
                <a id="contactUs" href="http://www.summerswelldrilling.com/contactUs">
                    <p>
                        Contact Us
                    </p>
                </a>
            </li>
            <li id="hideWhenSmall">
                <h3>
                    479-736-2089
                </h3>
            </li>
        </ul>
        <!-- </nav> -->
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}



        <footer class="contact-info-footer">
            <span class="contact-info-footer-item">
                <img src="{{ '/images/phoneIcon.png' | relative_url }}">
                CALL US
                <span>
                    Tel: <a href="tel:479-736-2089">479-736-2089</a>
                </span>
            </span>
            <span>
                <img src="{{ '/images/mailIcon.png' | relative_url }}">
                EMAIL US
                <span>
                    <a href="mailto:raquelsummers9@gmail.com">raquelsummers9@gmail.com</a>
                </span>
            </span>
        </footer>
        <footer class="site-footer">
            <span>© 2020 by Summers Pumps, LLC.
                <span class="site-footer-owner">Maintained by MCG Web Design.</span>
            </span>
        </footer>
    </main>
</body>

</html>